openapi: 3.1.0
info:
  title: Surrogate-1 API
  version: 1.0.0
  description: API for surrogate-1 pricing and dataset services.
servers:
  - url: https://api.axentx.com/v1
    description: Production server
paths:
  /pricing/validate:
    post:
      summary: Get a price recommendation for a product.
      description: |
        Accepts product attributes and returns a recommended price,
        confidence score, and revenue estimate.  The endpoint is protected
        by the existing API authentication mechanisms (API key or JWT) and
        is subject to rate limiting – a 429 response with a `Retry-After`
        header is returned when the limit is exceeded.
      operationId: validatePricing
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PricingRequest'
      responses:
        '200':
          description: Successful price recommendation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingResponse'
        '400':
          description: Invalid request payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized – missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests – rate limit exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    PricingRequest:
      type: object
      required:
        - product_id
        - attributes
      properties:
        product_id:
          type: string
          description: Unique identifier for the product.
        attributes:
          type: object
          description: Key‑value map of product attributes (e.g., category, brand, specs).
          additionalProperties:
            type: string
    PricingResponse:
      type: object
      properties:
        recommended_price:
          type: number
          format: float
          description: Suggested price for the product.
        confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Confidence level of the recommendation (0‑1).
        revenue_estimate:
          type: number
          format: float
          description: Projected revenue based on the recommended price.
      required:
        - recommended_price
        - confidence
        - revenue_estimate
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Human‑readable error message.
        code:
          type: integer
          description: HTTP status code.
  x-rate-limit:
    limit: 60
    period: minute